 @import "tailwindcss";

.input {
  @apply w-full border rounded-lg px-4 py-3
         focus:outline-none focus:ring-2 focus:ring-[#B11226];
}

 
/* Global fixes */
html, body {
  width: 100%;
  overflow-x: hidden;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}
